.no-title {
  color: #2F4F4F;
  width: 80%;
  align-items: baseline;
  display: flex;

  flex-direction: column;

}

.no-text {
  width: 65%;
  margin-left: 5%;
  max-height: 150px;

}

.no-lf {
  border-color: #000000;
  box-sizing: border-box;
  width: 80%;
  opacity: 50%;
  margin-left: 10%;



}

.no-content {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  min-height: 200px;



}

.no-title hr {
  border-color: #000000;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;

}

.no-main {
  display: flex;
  justify-content: center;

}

.no-img1 {
  background-image: url(../../assets/image/pc_home_carrosel2.webp);
  width: 30%;
  height: 180px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
}

.no-img2 {
  background-image: url(../../assets/image/pc_home_carrosel4.webp);
  width: 30%;
  height: 180px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
}

.no-img3 {
  background-image: url(../../assets/image/pc_home_carrosel5.webp);
  width: 30%;
  height: 150px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
}

.no-img4 {
  background-image: url(../../assets/image/pc_home_carrosel7.webp);
  width: 30%;
  height: 150px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
}

.no-img5 {
  background-image: url(../../assets/image/pc_home_carrosel9.webp);
  width: 30%;
  height: 150px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}


.no-sub {
  color: #2F4F4F;
}

.no-button {
  color: #ffffff;
  background-color: #2F4F4F;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 5px 15px;
  float: right;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.no-button:hover {
  background-color: #2F4F4F;



}

.no-buttons {
  margin-top: 10px;
  width: 85%;
  margin-bottom: 55px;


}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .no-content {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    height: auto;
    font-size: 12px;
  }

  .no-text {
    text-align: justify;
    width: 80%;
    margin-bottom: 10px;


  }

  .no-lf {
    width: 90%;
    margin-left: 5%;
  }

  .no-img1,
  .no-img2,
  .no-img3,
  .no-img4,
  .no-img5 {
    width: 80%;
    height: 200px;
    margin-top: 10px;
    
  }
}